.welcomeText {
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(45deg, #fe491e, #cb7300);
  background-clip: text; /* Standard property */
  -webkit-background-clip: text; /* WebKit-specific for Chrome, Safari */
  -webkit-text-fill-color: transparent; /* Makes the text transparent to show the gradient */
  text-shadow: 10px 8px 30px rgba(0, 0, 0, 0.7);
  margin: 0;
  text-align: center;
}

.countdown {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.progress-container {
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.progress-ring {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  position: relative;
}

.progress-ring__circle {
  fill: transparent;
  stroke-width: 11;
  stroke-linecap: round;
}

.progress-ring__background {
  stroke: #070707; /* Dark background for better contrast */
}

.progress-ring__bar {
  stroke: #fe491e;
  transition: stroke-dashoffset 0.5s ease; /* Smooth progress transition */
}

.progress-text {
  fill: #ffffff; /* Text color */
  font-size: 2rem;
  font-weight: bold;
}

/* Responsive Design */
@media (max-width: 768px) {
  .welcomeText {
    font-size: 2.5rem;
  }

  .progress-ring {
    width: 100px;
    height: 100px;
  }

  .progress-ring__circle {
    stroke-width: 8;
  }

  .progress-text {
    font-size: 1.5rem;
  }

  .progress-container p {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .welcomeText {
    font-size: 2rem;
  }

  .progress-ring {
    width: 80px;
    height: 80px;
  }

  .progress-ring__circle {
    stroke-width: 6;
  }

  .progress-text {
    font-size: 1.2rem;
  }

  .progress-container {
    margin: 5px;
  }

  .progress-container p {
    font-size: 0.9rem;
  }
}

@media (max-width: 460px) {
  .welcomeText {
    font-size: 1.8rem;
  }

  .progress-ring {
    width: 60px;
    height: 60px;
  }

  .progress-ring__circle {
    stroke-width: 4;
  }

  .progress-text {
    font-size: 1rem;
  }

  .progress-container {
    margin: 3px;
  }

  .progress-container p {
    font-size: 0.7rem;
  }
}

.elephant-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: auto;
  z-index: -1;
}

.elfsight-app-b399437b-d091-4fd2-97e4-555699fa089e {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

/* Specific Mobile Adjustments */
@media (max-width: 600px) {
  .center-image {
    padding-top: 28%;
  }

  .center-logo {
    width: 79%;
  }

  .countdown {
    padding-top: 8%;
    width: 87%;
    flex-direction: column;
    margin: 0 auto;
  }

  .countdown img {
    padding-top: 11%;
    width: 25%;
    height: auto;
  }

  .countdown-timer {
    font-size: 14px;
  }

  .elfsight-app-b399437b-d091-4fd2-97e4-555699fa089e {
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
  }

  .carousel img {
    height: 276px;
    object-fit: cover;
  }

  .container .item-1 .social {
    justify-content: center;
  }
}
